.row{
    background: -webkit-linear-gradient(left, #61a4e2 0%, #2388CB 65%, #144E75 100%);
}

footer{
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 3px 3px 5px #999;
}