<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Técnico Superior en Tratamiento y Seguridad Penitenciaria</h1> - <h3>(years)</h3>
            </li>
            <p>Escuela de Formación Superior del Servicio Penitenciario de Córdoba.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Licenciado en Seguridad</h1> - <h3>(years)</h3>
            </li>
            <p>Universidad Nacional de Villa María.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Tecnicatura Superior Universitaria en Asistencia en Investigación Penal</h1> - <h3>(years)</h3>
            </li>
            <p>Facultad de Derecho de la Universidad Nacional de Córdoba.
            </p>
        </ul>
    </div>
</div>