.gradient-custom {
    /* fallback for old browsers */
    background: #12a7b8;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(41, 177, 230), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(14, 85, 99), rgb(14, 80, 193))
}