<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/photoPerfil.jpg" class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Argentino, de 37 años de edad. Oriundo de la ciudad de Villa Maria.
                Casado con Jennifer, padre de dos hermosos niños, Emilse y Bautista.
                Licenciado en Seguridad - UNVM
                Tecnico Superior en Tratamiento y Seguridad Penitenciaria. 
            </p>
        </span>
    </div>
</div>
