<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Personal Subalterno SPC</h1> - <h3>(years)</h3>
            </li>
            <p>Seguridad Interna y Externa en el Establecimiento Penitenciario N° 5 de la ciudad de Villa María.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Cadete del SPC</h1> - <h3>(years)</h3>
            </li>
            <p>Abanderado de la Promoción 28 del Instituto Superior de Formación Penitenciaria “Comodoro Salustiano Pérez Estévez”.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Personal Superior SPC</h1> - <h3>(years)</h3>
            </li>
            <p>Oficial a cargo del Área Administración del Complejo Carcelario N° 1 “Reverendo Francisco Luchesse” de Córdoba.
            </p>
        </ul>
    </div>
</div>
